body{
  background-color: rgb(228, 222, 214);
}

.header {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  background: white;
  margin-bottom: 5rem;
}

.container{
  justify-content: center;
  width: 70%;
  margin: auto;
}

.footer {
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 5rem;
}